* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large;
}

header {
    background-color: rgb(252, 133, 89);
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 5px rgba(62, 62, 62, 0.5);
}

footer {
    background-color: rgb(252, 133, 89);
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 1;
}

.header-img img{
    width: 75%;
}    

.navbar {
    display: inline-flex;
    justify-content: space-evenly;
}

.navbar-list li{
    display: inline-flex;
}

link {
    bottom: 10px;
}

hr {
    width: 60%;
    height: 1px;
    margin: 20px auto;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    @media screen and (min-width: 800px) {
                
    }
}

.choices {
    background-color: burlywood;
    border-radius: 25px;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3)
}

select {
    border: 2px solid rgb(252, 133, 89);
}
#patty,
#added,
#cheese,
#bun {
    background-color: aquamarine;
}

.submitButton :hover {
    background-color: violet;
}

.imgBuns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imgBuns img{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    max-width: 200px;
    max-height: 200px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.imgPatties {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgPatties img {
    border-radius: 10px;
    width: 80%;
    height: 100px;
    max-width: 200px;
    max-height: 200px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

figure {
    margin: 5px auto;
    background-color: gold;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(39, 38, 38, 0.3);
    padding: 5px 5px;
}

button {
    box-shadow: 3px 3px rgb(39, 38, 38, 0.3);
}

.submit,
.redo {
    border: none;
    background-color: gold;
    border-radius: 10px;
    padding:10px 20px;
}

.submit:hover,
.redo:hover {
    background-color: goldenrod;
}

@media screen and (min-width: 800px) {
    body{
        width: 100%;
    }
    .container {
        width: 75%;
    }

    header {
        width: 100%;
        max-height: 200px;
    }

    .header-img img {
        height: 100px;
        justify-self: center;
    }

    .choices {
        margin: 100px auto;
        width: 1000px;
    }

    .imgPatties img, .imgBuns img{
        padding: 10px;
        border-radius: 20px;
        width: 200px;
        height: 200px;
        max-width: 200px;
        max-height: 200px;
    }
}